.container .pagination {
  justify-content: center;
  margin-top: 15px;
}

.pagination > button {
  background-color: #FFF;
  border: none;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
  padding: 10px 15px;
}

.pagination > button[disabled] {
  background-color: #D7E9FA;
  border-color: #87C8F2;
  cursor: not-allowed;
}

.pagination > button:hover {
  background-color: #FFFAED;
}

.pagination > button[disabled]:hover {
  background-color: #D7E9FA;
}

.pagination > button:first-child {
  border-left: 1px solid #CCC;
  border-radius: 6px 0  0 6px;
}

.pagination > button:last-child {
  border-radius: 0 6px 6px 0;
}
