.page-title {
  margin: 20px auto;
  text-align: center;
  font-size: 26px;
}

.table {
  border: 1px solid #CCC;
  border-radius: 4px;
  width: 100%;
}

.table thead {
  background-color: #F8FAFC;
}

.table thead th {
  color: #385C78;
  font-size: 13px;
  padding: 10px 15px;
}

.table tbody .edit-link {
  display: table-row;
  color: inherit;
}

.table tbody > .edit-link:hover {
  background-color: #D7E9FA;
}

.table tbody > .edit-link:hover td {
  border-bottom: 1px solid #87C8F2;
  border-top: 1px solid #87C8F2;
  background-color: #D7E9FA;
}

.table thead th,
.table tbody td {
  border-right: 1px solid #CCC;
}

.table thead th:last-child,
.table tbody td:last-child {
  border-right: none;
}

.table tbody td {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
}

.table tbody td .favorite-button {
  background-color: transparent;
  border: none;
}

.table .book-description p{
  margin-top: 5px;
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
  .table thead th {
    padding: 10px;
  }

  .table thead th:first-child,
  .table tbody td:first-child {
    display: none;
  }
}

.image-link {
  color: #4A9EE7;
}
