header {
  background-color: #222;
  padding: 20px;
}

.container {
  max-width: 980px;
  margin: auto;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-header h1 {
  display: flex;
  font-size: large;
  font-weight: bold;
  margin: 0;
}

.filter {
  display: flex;
}
